<mat-card class="card">
    <mat-card-header>
        <mat-card-title>HelpDesk</mat-card-title>
        <mat-card-subtitle>HelpDesk App</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/helpdesk.jpeg" alt="Image home HelpDesk App">
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content>
</mat-card>